<div class="row col-lg-12">
    <div class="card mt5 mb-5 ">
		<div class="card-body">
			<h2 class="text-center">plan</h2>
		</div>
	</div>
	<%= link_to "signup", signup_path, class: "btn btn-primary btn-lg mb-4"  %>
	<table class="table table-bordered">
		<tbody>
      <tr>

				
          <td><%= @current.email %></td>
          <td><%= @current.name %></td>
      </tr>


		</tbody>
	</table>
</div>